## 列表排序

### 不可以恢复

In [2]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [5]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse = True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

### 可以恢复

In [4]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(sorted(cars))
print(cars)

['audi', 'bmw', 'subaru', 'toyota']
['bmw', 'audi', 'toyota', 'subaru']

## 反转列表

In [7]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

## 列表长度

In [10]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

## range()

In [12]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [13]:
print(list(range(0, 6)))

[0, 1, 2, 3, 4, 5]

In [16]:
print(list(range(2, 11, 2)))

[2, 4, 6, 8, 10]

## 统计计算

In [20]:
print(min([1, 2, 3, 4, 5]))
print(max([1, 2, 3, 4, 5]))
print(sum([1, 2, 3, 4, 5]))

1
5
15

## 列表推导式

In [22]:
squares = [number ** 2 for number in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]